
h1{
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
}
.navbar{
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #E82C0C;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #E87662;
    background-color: transparent;
    border-bottom: solid 5px #FF0000;
}
a:focus{
	outline: none;
}
.navbar-toggle{
	border-radius: 0;
	border-width: 0;
	transition:all 250ms ease-out;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #000;
}
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.jumbotron{
	background-attachment: fixed;
	background-image: url(../images/jumbotron.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center bottom;
	background-size: cover;
	height: 500px;
	position: relative;
}
.jumbotron h1{
	color: white;
	float: right;
	margin-top: 140px;
}
main{
	position: relative;
	clear: both;
}
.back{
	width: 60px;
	height: 60px;
	float: right;
}
#back{
	text-align: center;
}
a{
	color: #D4E5FC;
}
.back a:hover{
	text-decoration: none;
	color: #A3C3ED;
}
.about{
	margin-bottom: 50px;
	width: 90%;
	margin: 0 auto;
}
.middle {
    background-color: #FFDE95;
    margin-top: -25px;
    padding-bottom: 40px;
    padding-top: 60px;
    width: 90%;
    margin: 0 auto;
}
.side{
	width: 90%;
    margin: 0 auto;
/*    background-color: #F2F6DD;*/
    margin-top: 20px;
}
.lastlist{
	
}
.icons{
	color: #FF530D;
	text-shadow: 2px 2px #727272;
}
.coverflip img{

}
.portsec{
	background-color: #FFDE95;
	width: 90%;
}
.portgrid{
	margin-top: 20px;
}
div .coverflip {
	max-height: 335px;
	overflow: hidden;
	position: relative;
	background-color: #FF892C;
	-webkit-transition: max-height 0.75s ease 0s;
	-moz-transition: max-height 0.75s ease 0s;
	-ms-transition: max-height 0.75s ease 0s;
	-o-transition: max-height 0.75s ease 0s;
	transition: max-height 0.75s ease 0s;
}
div .coverflip:hover {
	max-height: 999px;
}
#pics{
	margin: 0 auto;
}
.flipinfo{
	padding: 10px;
	color: #000;
}
footer{
	width: 100%;
	height: auto;
	background-color: #575353;
	clear: both;
	text-align: center;
	padding-top: 20px;
}
.socicon .fa{
	color: #fff;
}
a .fa:hover{
	color: #3D3F40;
}
.btn-primary{
	margin-top: 10px;
	background-color: #FF530D;
	border: none;
}
.btn-primary:hover{
	border: none;
	background-color: #FFA34E;
	text-decoration: none;
	border: none;
	color: #fff;
}
.footericons li{
	list-style: none;
	display: inline;
	margin-right: 50px;
}
.footericons{
	margin-top: 20px;
}
.form{
	width: 90%;
	background-color: #FFDE95;
	padding: 30px;
}
.form h2{
	font-size: 2.6em;
}
fieldset label{
	margin-bottom: 20px;
}
input{
	width: 250px;
}
.form-control{
	width: 500px;
}
.thanks{
	float: right;
	width: 50%;
	height: 30%;
}


@media screen and (max-width: 480px){

	div .coverflip{
		max-height: 600px;
		overflow: visible;
		margin-bottom: 10px;
		-webkit-transition: max-height 0s ease 0s;
		-moz-transition: max-height 0s ease 0s;
		-ms-transition: max-height 0s ease 0s;
		-o-transition: max-height 0s ease 0s;
		transition: max-height 0s ease 0s;
	}
	div .coverflip:hover{
		height: 100%;
	}
	.footericons li{
	text-align: center;
	}

}